# 环境变量
.env
.venv/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Flask
instance/
.webassets-cache

# 数据库
*.db
*.sqlite
*.sqlite3
database/*.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# 日志
*.log

# Vercel
.vercel/
